.buttonsWhite {
    border: none;
    background: rgb(255, 255, 255);
    transition: background .2s ease-in-out;
    border-radius: 6px;
}
.buttonsWhite:hover {
    color: white;
    background: #6cb6e5;
}

.buttonBold {
    color: #fff;
    border: none;
    background: #222269;
    transition: background .2s ease-in-out;
    border-radius: 6px;
}
.buttonBold:hover {
    background: #1c75ac;
    color: white;
}

.buttonSemiBold {
    color: white;
    border: none;
    background: #1c75ac;
    transition: background .2s ease-in-out;
    border-radius: 6px;
}
.buttonSemiBold:hover {
    background: #06456d;
}