.buttonsWhite {
    border: none;
    background: rgb(255, 255, 255);
    transition: background .2s ease-in-out;
    border-radius: 6px;
}
.buttonsWhite:hover {
    background: rgb(231, 193, 150);
}

.buttonBold {
    color: white;
    border: none;
    background: rgb(197, 131, 57);
    transition: background .2s ease-in-out;
    border-radius: 6px;
}
.buttonBold:hover {
    background: rgb(142, 92, 35);
}

.buttonSemiBold {
    border: none;
    background: rgb(218, 194, 167);
    transition: background .2s ease-in-out;
    border-radius: 6px;
}
.buttonSemiBold:hover {
    background: rgb(197, 131, 57);
}