.bookList {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.bookList li {
    min-width: 200px;
    max-width: 300px;
    flex-basis: 0;
    flex-grow: 1;
}

.userHistory {
    padding-left: 40px;
    text-transform: uppercase;
}